<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122621961076-bfj17puf53ijvc18teqvpkend6l9hm74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122621961076-bfj17puf53ijvc18teqvpkend6l9hm74</string>
	<key>API_KEY</key>
	<string>AIzaSyCG8o27cA7Vo-36bEIrM26GjIoB9p2vbac</string>
	<key>GCM_SENDER_ID</key>
	<string>122621961076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theboiz.weout</string>
	<key>PROJECT_ID</key>
	<string>weout-7dc89</string>
	<key>STORAGE_BUCKET</key>
	<string>weout-7dc89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122621961076:ios:e659939e9a1a2df6174221</string>
	<key>DATABASE_URL</key>
	<string>https://weout-7dc89.firebaseio.com</string>
</dict>
</plist>